@CHARSET "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
}
body lang(en){
	font-family: 'Roboto', sans-serif;
}

.header{
	height : 80px;
	
	text-align : center;
	

	
}

.header h1{
	margin-top:25px;
	padding: 10px 40px;
	border: 4px solid black;
	border-width: 4px 0px;
	margin-bottom: 10px;
}
.nav{
	height : 40px;
	
	border-bottom: 1px soild black;
	
	word-spacing: 5px;
	
	
	
}
.nav ul{
	margin-top:0px;
	text-align: center;
}
.nav li{
	display:inline-block;
	list-style: none;
	margin-right: 30px;
	padding : 5px;
}
.nav li:hover{
	background: lightgray;
}
.nav a{
	text-decoration: none;
	color : black;
}

.clearfix::before{
	content:"";
	
}
.aside{
	height : 500px;
	border : 1px solid green;
}



.aside_left{
	width: calc(25% - 1%);
	float : left;
	text-align: center;	
}



.aside_left ul{
	list-style: none;
	padding-left: 0px;
}
.aside_left li{
	margin-top:5px;
	padding: 10px;
	padding-left: 30px;
	
	text-align: left;
	background: lightgray;
}

.aside_left li:hover{
	background: gray;
}

.aside_right{
	width: calc(25% - 1%);
	float : right;
	text-align: center;	
}


.aside_right .right_shopping{
	text-align: left;
	margin: 5px;	
}

.aside_right .login{
	text-align: center;
	margin: 5px;
}

.aside_left a{
	text-decoration: none;
	color : black;
}


.aside_right a{
	text-decoration: none;
	color : blue;
}

.section{
	height:500px;
	float:left;
	width: calc(50%);
	
}

.section iframe{
	height: 500px;
	width: 100%;
	border : none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block; /* or `table` */
}
.footer{
	height : 100px;
	text-align: center;

	
	
	
	
}

.footer h6{
	margin-top:25px;
	padding: 10px 40px;
	border: 2px solid black;
	border-width: 4px 0px;
	margin-bottom: 10px;
}

.button{
	border-radius : 5px;
	background:gray;
	color : white;
	width: 80px;
	height :30px;
	font-size: 20px;
}
.button_mid{
	font-size : 16px;
}

.button:hover{
	background:lightgray;
	color : gray;
}

.container{
	text-align: center;
}

.main_img img{
	display : inline-block;
	width:450px;
	
}

.item{
	border: 1px solid black;
	padding : 10px;
	display : inline-block;
	text-align: center;
}
.item img{
	weight:300px;
	height: 200px;
	
}